.aboutus {
  padding-left: 32px;
  padding-right: 32px;
  display: flex;
  flex-flow: row nowrap;
  gap: 100px;
  color: var(--text-primary);
}

.aboutus__textbox {
  margin: auto 0;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.aboutus__title {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: clamp(16px, 3vw, 20px);
  line-height: clamp(20px, 2vw, 27px);
  color: var(--third-color);
  margin-bottom: min(6px, 14px);
}

.aboutus__description {
  font-family: DM Sans, sans-serif;
  font-weight: 400;
  font-size: clamp(16px, 3vw, 20px);
  line-height: clamp(22px, 2vw, 25px);
  margin-bottom: 10px;
}

.aboutus__text {
  padding-right: 10px;
  font-family: DM Sans, sans-serif;
  font-weight: 400;
  font-size: clamp(14px, 2vw, 18px);
  line-height: min(20px, 27px);
  word-break: normal;
}

.aboutus__item {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.aboutus__item svg path {
  fill: var(--third-color);
}

.aboutus__svg {
  margin-right: 28px;
  width: min(11%, 51px);
  flex-shrink: 0;
}

.aboutus__title--logo {
  font-size: clamp(24px, 5vw, 32px);
  line-height: clamp(28px, 5vw, 40px);
  margin-bottom: 20px;
}


@media (--sm-viewport) {
  .aboutus {
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
  }

  .aboutus__item {
    margin-top: 15px;
  }

  .aboutus__svg {
    margin-right: 18px;
  }
}

@media (--md-viewport) {
  .aboutus {
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
  }

  .aboutus__item {
    margin-top: 15px;
  }

  .aboutus__svg {
    margin-right: 18px;
  }
}

@media (--lg-viewport) {
  
}

@media (--xl-viewport) {
  
}
