.banner {
  display: flex;
  flex-direction: row;
}

.banner__content {
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 100px 0 0 100px;
  background-color: var(--dark-green);
}

/* .bob {
  width: 100%;
  height: 100%;
} */

.banner__logo {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: clamp(2rem, 5vw, 3.5rem);
  line-height: 70px;
  color: #fff;
  overflow-wrap: break-word;
}

.banner__description {
  padding-right: 200px;
  margin: 20px 0 35px;
  font-weight: 400;
  font-size: clamp(16px, 3vw, 20px);
  line-height: 25px;
  color: #fff;
  overflow-wrap: break-word;
}

.banner__button {
  width: 172px;
  height: 56px;
  background-color: #fff;
  border-style: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: var(--dark-green);
}

@media (--sm-viewport) {
  /* .bob {
    clip-path: inset(100px 0 0 0);
    transform: translateY(-100px);
  } */

  .banner {
    flex-direction: column;
  }

  .banner__content {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 10px;
    background-color: var(--dark-green);
  }

  .banner__logo {
    line-height: 50px;
  }

  .banner__description {
    padding-right: 0;
    margin: 15px 0 25px;
  }

  .banner__button {
    width: 172px;
    height: 56px;
    background-color: #fff;
    border-style: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: var(--dark-green);
  }
}
