.catalog {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalog__title {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: clamp(24px, 5vw, 32px);
  line-height: 52px;
  color: var(--prodcard-grey);
}

.catalog__list {
  display: flex;
  flex-direction: row;
  gap: 100px;
}

.catalog__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 80px;
}

.catalog__item-text {
  font-family: DM Sans, sans-serif;
  font-weight: 400;
  font-size: clamp(18px, 3vw, 24px);
  line-height: 27px;
  color: #919090;
  padding-bottom: 6px;
}

.catalog__line {
  width: 57px;
  height: 2px;
  background-color: white;
}

.catalog__item:hover .catalog__item-text{
  font-weight: 500;
  color: var(--dark-green);
}

.catalog__item:hover .catalog__line {
  background-color: var(--dark-green);
}

.catalog__inner {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.catalog__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 33px 30px;
}

@media (--sm-viewport) {
  .catalog__inner {
    flex-direction: column;
  }

  .catalog__grid {
    margin-top: 24px;
    gap: 28px;
  }

  .catalog__list {
    gap: 52px;
  }
}

@media (--md-viewport) {
  .catalog__inner {
    flex-direction: column;
  }

  .catalog__grid {
    margin-top: 24px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 28px;
  }

  .catalog__list {
    gap: 52px;
  }
}
