.companies {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.companies__title {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 32px;
  color: var(--text-green);
}

.companies__logo {
  display: flex;
  flex-flow: row wrap;
  gap: 100px;
  align-items: center;
  justify-content: center;
}
