.companies {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.companies__title {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 32px;
  color: var(--text-green);
}

.companies__logo {
  display: flex;
  flex-flow: row wrap;
  gap: 100px;
  align-items: center;
  justify-content: center;
}


@media (--sm-viewport) {
  .companies__logo svg {
    width: calc(30px * var(--svg-ratio, 1));
  }

  .companies__logo {
    gap: 50px;
  }
}

@media (--md-viewport) {
  .companies__logo svg {
    width: calc(40px * var(--svg-ratio, 1));
  }

  .companies__logo {
    gap: 70px;
  }
}

@media (--lg-viewport) {
  .companies__logo svg {
    height: auto;
    width: auto;
  }
  
  .companies__logo {
    gap: 100px;
  }
}

@media (--xl-viewport) {
  .companies__logo svg {
    height: auto;
    width: auto;
  }

  .companies__logo {
    gap: 100px;
  }
}
