/* body {
  display: flex;
  flex-direction: column;
  gap: 140px;
} */

/* Modern Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: DM Sans, sans-serif;
}

/* Remove list styles on ul, ol elements */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

.header {
  padding-top: 44px;
  padding-bottom: 26px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.nav__logo {
  font-family: Montserrat, sans-serif;
  font-size: clamp(18px, 3vw, 24px);
  font-weight: 700;
  color: var(--text-green);
}

.nav__menu {
  display: flex;
  gap: 10px 82px;
  flex-flow: row wrap;
  justify-content: space-between;
  list-style: none;
}

.nav__item {
  font-size: clamp(14px, 2vw, 16px);
  font-weight: 400;
  color: #161616;
}

.nav__actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

@media (--sm-viewport) {
  .header {
    flex-flow: row wrap;
  }
}
