.popfurniture {
  width: 100%;
  height: auto;
  padding-bottom: 20px;
  color: var(--for-text);
}

.popfurniture__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 30px;
}

.popfurniture__title {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: clamp(24px, 5vw, 32px);
  line-height: 52px;
}

.popfurniture__text {
  margin-top: 20px;
  margin-bottom: 80px;
  width: min(100%, 820px);
  font-family: DM Sans, sans-serif;
  font-weight: 400;
  font-size: clamp(16px, 3vw, 20px);
  line-height: 27px;
}

@media (--sm-viewport) {
  .popfurniture__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 15px;
  }

  .popfurniture__text {
    margin-top: 10px;
    margin-bottom: 40px;
  }
}
