.product-card {
    display: flex;
    box-shadow: 0 4px 6px rgb(0 0 0 / 10%);
    align-items: center;
    flex-direction: column;
}

.product-card__inner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 24px 26px;
  gap: 20px;
}

.product-card__line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.product-card__text {
  font-family: DM Sans, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  color: var(--prodcard-grey);
}

.product-card__price {
  font-family: DM Sans, sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  color: var(--dark-green);
}

.product-card__button {
  width: 79px;
  height: 32px;
  font-weight: 500;
  font-size: 12px;
  line-height: 21px;
  border-style: none;
  background-color: var(--text-green);
  color: white;
}

.product-card__icons {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
