.review {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 140px;
  color: var(--for-text);
}

.review__composite {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  max-width: 564px;
  flex-shrink: 0;
  aspect-ratio: 564 / 492;
}

.review__circle {
  left: 0;
  position: absolute;
  width: 100%;
  height: auto;
  max-width: 492px;
  max-height: 492px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: var(--third-color);
  z-index: -1;
}

.blocker {
  width: 100%;
  max-width: 105px;
}

.review__img {
  width: 100%;
  height: auto;
  max-width: 459px;
  max-height: 492px;
  aspect-ratio: 459 / 492;
  object-fit: cover;
  z-index: 1;
}

.review__textbox {
  padding-left: 100px;
}

.review__title {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: clamp(24px, 5vw, 32px);
  line-height: clamp(40px, 5vw, 52px);
  overflow-wrap: break-word;
}

.review__text {
  margin-top: 20px;
  margin-bottom: 40px;
  font-family: DM Sans, sans-serif;
  font-weight: 400;
  font-size: clamp(16px, 3vw, 20px);
  line-height: 27px;
  overflow-wrap: break-word;
}

.review__box {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}

.review__avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.review__rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

@media (--sm-viewport) {
  .review {
    flex-direction: column;
  }

  .review__textbox {
    padding-left: 8px;
    padding-right: 8px;
  }
}

@media (--md-viewport) {
  .review {
    flex-direction: column;
  }
}

/*  @media (--lg-viewport) {
  
}

@media (--xl-viewport) {
  
} */


