.review {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 140px;
}

.review__textbox {
  padding-left: 100px;
}

.review__title {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: clamp(24px, 5vw, 32px);
  line-height: clamp(40px, 5vw, 52px);
  color: var(--prodcard-grey);
  overflow-wrap: break-word;
}

.review__text {
  margin-top: 20px;
  margin-bottom: 40px;
  font-family: DM Sans, sans-serif;
  font-weight: 400;
  font-size: clamp(16px, 3vw, 20px);
  line-height: 27px;
  color: var(--prodcard-grey);
  overflow-wrap: break-word;
}

.review__box {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}

.review__img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.review__rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

@media (--sm-viewport) {
  .review {
    flex-direction: column;
  }

  .review__textbox {
    padding-left: 8px;
    padding-right: 8px;
  }
}

@media (--md-viewport) {
  .review {
    flex-direction: column;
  }
}

/*  @media (--lg-viewport) {
  
}

@media (--xl-viewport) {
  
} */


