
.room-type {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15.5px 65.5px;
  border: 1.5px solid #D9DCE5;
  transition: all 0.3s ease;
}

.room-type__svg path{
  fill: #666;
}

.room-type__text {
  padding-top: 14px;
  font-weight: 500;
  font-size: clamp(14px, 2vw, 16px);
  line-height: 21px;
  color: #808080;
  transition: color 0.3s ease;
}

.room-type:hover {
  background-color: #154444;
  border-color: #154444;
}

.room-type:hover .room-type__text {
  color: #FFF;
}

.room-type:hover svg path {
  fill: #FFF;
}


@media (--sm-viewport) {
  .room-type {
    padding: 6px 36px;
  }

  .room-type__text {
    padding-top: 10px;
  }
}

@media (--md-viewport) {
  .room-type {
    padding: 12px 44px;
  }

  .room-type__text {
    padding-top: 10px;
  }
}
