.subform {
  background-color: #F4F6F6;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subform__inner {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: min(100%, 605px)
}

.subform__title {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: clamp(24px, 5vw, 32px);
  line-height: 52px;
  color: var(--prodcard-grey);
  overflow-wrap: break-word;
  padding-top: 68px;
}

.subform__text {
  margin-top: 20px;
  margin-bottom: 40px;
  font-family: DM Sans, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: var(--prodcard-grey);
  overflow-wrap: break-word;
}
